input.changename {
	position: absolute;
	border-radius: 0px;
	left: -25px;
	bottom: 10px;
	overflow: hidden;
	width: 98px;
	height: 20px;
	color: #595c5f;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	z-index: 0;
	border: none;
}

input.changename {
	position: absolute;
	border-radius: 0px;
	left: -25px;
	bottom: 10px;
	overflow: hidden;
	width: 98px;
	height: 20px;
	color: #595c5f;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	z-index: 0;
	border: none;
}

input.changename:hover {
	background: none;
	color: #F33;
}

input {
	width: 88px;
	height: 24px;
	line-height: 20px;
	text-align: center;
	background: none;
	border: 1px solid #CCC;
	border-radius: 8px;
	transition: all 0.2s ease-in 0.1s;
	margin-left: 25px;
}

folder {
	width: 50px;
	height: 50px;
	background: none;
	border: 1px solid #CCC;
	border-radius: 8px;
	transition: all 0.2s ease-in 0.1s;
	margin-left: 25px;
}

input:hover {
	background: #09F;
	color: #fff;
}

ul {
	padding: 0;
	list-style: none;
}

ul li {
	overflow: hidden;
	width: 100px;
	height: 115px;
/* 	float: left; */
	margin-left: 429px;
	border: 1px solid #fff;
	position: relative;
	transition: all 0.2s ease-in 0.1s;
}

ul li.bgclocrc {
	border: 1px solid #a7aae3;
}

ul li:hover {
	border: 1px solid #a7aae3;
}

/* 拖拽目的地 测试用 */

.dustbin{
    position: relative;
    height: 100%;
    width: 6%;
    margin-right: 0;
    float: right;
    margin-bottom: 0px;
    border: 1px solid #a7aae3;
    }
.dustbinDefault{
	 position: absolute;
    height: 100%;
    width: 6%;
    margin-right: 0;
    float: right;
    margin-bottom: 0px;
    border: 1px solid #a7aae3;
}
/* 拖拽目的地 测试用 */